
.about_about {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.about_about .footer {
	position: absolute;
	left: 0px;
	top: 1471px;
	width: 1440px;
	height: 118px;
	background: rgba(115,107,146,1.00);
}
.about_about .Copyright2023 {
	position: absolute;
	left: 562px;
	top: 1534px;
	width: 316px;
	height: 23px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 18px;
	font-weight: 500;
	line-height: 22.5px;
}
.about_about .AboutUs {
	position: absolute;
	left: 122px;
	top: 178px;
	width: 217px;
	height: 54px;
	color: rgba(115,107,146,1.00);
	font-family: Rubik;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.659996032714844px;
}
.about_about .about_1 {
	position: absolute;
	left: 122px;
	top: 257px;
	width: 1183px;
	height: 400px;
}
.about_about .about_1 .StreetSavvystartedoffasaUofTHacksprojectwiththethemeofexplorationThechallengesofincorporatingpersonalfinanceandusingcoherewereimplementedaswellStreetSavvyisawebsitethattakesuserinputandgivesrecommendationsbasedonabudgetandinterestswhetheritbeforfoodshoppingorentertainmentTheproblemsthatthistacklesincludesthefactthatpeopleoftenhavetroublepickingaspotordecidingwheretogoandwhattodoaswellasitstayingwithintheirbudgetFrontendDesignFigmaLanguageframeworkReactJSandChakraUIBackendLanguageframeworkPythonandFlaskDatabaseMongoDBOthertoolsCohereGoogleMapsAPI {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1183px;
	height: 400px;
	color: rgba(0,0,0,1.00);
	font-family: Quicksand;
	font-size: 18px;
	font-weight: 300;
	line-height: 22.5px;
}
.about_about .about_2 {
	position: absolute;
	left: 191px;
	top: 1107px;
	width: 80px;
	height: 36px;
}
.about_about .about_2 .Jason {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 80px;
	height: 36px;
	color: rgba(0,0,0,1.00);
	font-family: Quicksand;
	font-size: 18px;
	font-weight: 300;
	line-height: 22.5px;
}
.about_about .about_3 {
	position: absolute;
	left: 858px;
	top: 1107px;
	width: 80px;
	height: 36px;
}
.about_about .about_3 .Inaas {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 80px;
	height: 36px;
	color: rgba(0,0,0,1.00);
	font-family: Quicksand;
	font-size: 18px;
	font-weight: 300;
	line-height: 22.5px;
}
.about_about .about_4 {
	position: absolute;
	left: 522px;
	top: 1106px;
	width: 80px;
	height: 36px;
}
.about_about .about_4 .Nathan {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 80px;
	height: 36px;
	color: rgba(0,0,0,1.00);
	font-family: Quicksand;
	font-size: 18px;
	font-weight: 300;
	line-height: 22.5px;
}
.about_about .about_5 {
	position: absolute;
	left: 1193px;
	top: 1107px;
	width: 80px;
	height: 36px;
}
.about_about .about_5 .Zoha {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 80px;
	height: 36px;
	color: rgba(0,0,0,1.00);
	font-family: Quicksand;
	font-size: 18px;
	font-weight: 300;
	line-height: 22.5px;
}
.about_about .Rectangle8 {
	position: absolute;
	left: 0px;
	top: 714px;
	width: 1440px;
	height: 255px;
	background: rgba(233,241,247,1.00);
}
.about_about .Vector {
	position: absolute;
	left: 0px;
	top: 640px;
	width: 1440px;
	height: 115px;
}
.about_about .Vector_1 {
	position: absolute;
	left: 0px;
	top: 954px;
	width: 1440px;
	height: 117px;
}
.about_about .ProjectCreators {
	position: absolute;
	left: 122px;
	top: 729px;
	width: 269px;
	height: 52px;
	color: rgba(222,138,119,1.00);
	font-family: Rubik;
	font-size: 32px;
	font-weight: 500;
	line-height: 37.91999816894531px;
}
.about_about .Ellipse4 {
	position: absolute;
	left: 80px;
	top: 834px;
	width: 259px;
	height: 251px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 50%;
	background-size: cover;
}
.about_about .Ellipse5 {
	position: absolute;
	left: 1082px;
	top: 842px;
	width: 259px;
	height: 251px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 50%;
	background-size: cover;
}
.about_about .Ellipse6 {
	position: absolute;
	left: 748px;
	top: 843px;
	width: 259px;
	height: 251px;
	object-fit: cover;
	overflow: hidden;
}
.about_about .Ellipse7 {
	position: absolute;
	left: 414px;
	top: 834px;
	width: 259px;
	height: 251px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 50%;
	background-size: cover;
}
.about_about .ToolsUsed {
	position: absolute;
	left: 122px;
	top: 388px;
	width: 291px;
	height: 53px;
	color: rgba(222,138,119,1.00);
	font-family: Rubik;
	font-size: 32px;
	font-weight: 500;
	line-height: 37.91999816894531px;
}
.about_about .nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1470px;
	height: 56.033905029296875px;
}
.about_about .nav .Navbar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1470px;
	height: 56.033905029296875px;
	background: rgba(222,138,119,1.00);
}
.about_about .nav .StreetSavvy {
	position: absolute;
	left: 118.41668701171875px;
	top: 0.966094970703125px;
	width: 218.45831298828125px;
	height: 51.203399658203125px;
	color: rgba(255,255,255,1.00);
	font-family: Calligraffitti;
	font-size: 38px;
	font-weight: 400;
	line-height: 59.634765625px;
}
.about_about .nav .Findaplace {
	position: absolute;
	left: 962.645751953125px;
	top: 16.37127685546875px;
	width: 115.3541259765625px;
	height: 22.841949462890625px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
.about_about .nav .About {
	position: absolute;
	left: 852.3958740234375px;
	top: 16.423736572265625px;
	width: 57.1666259765625px;
	height: 22.841949462890625px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
.about_about .nav .Saved {
	position: absolute;
	left: 1147.4166259765625px;
	top: 15.457611083984375px;
	width: 60.2291259765625px;
	height: 22.841949462890625px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
.about_about .nav .login {
	position: absolute;
	left: 1268px;
	top: 17px;
	width: 93px;
	height: 23px;
}
.about_about .nav .login ._7887887426_googlegpnggooglelogowhitepng1 {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 19.35483870967742%;
	height: 78.12606148097827%;
	object-fit: cover;
	overflow: hidden;
}
.about_about .nav .login .Login {
	position: absolute;
	left: 22px;
	top: 0px;
	width: 76.34408602150538%;
	height: 100%;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}