
.blank_blank {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.blank_blank .footer {
	position: absolute;
	left: 0px;
	top: 1471px;
	width: 1440px;
	height: 118px;
	background: rgba(115,107,146,1.00);
}
.blank_blank .Copyright2023 {
	position: absolute;
	left: 562px;
	top: 1534px;
	width: 316px;
	height: 23px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 18px;
	font-weight: 500;
	line-height: 22.5px;
}
.blank_blank .nav {
	position: absolute;
	left: 0px;
	top: -57px;
	width: 1440px;
	height: 114px;
}
.blank_blank .nav .login {
	position: absolute;
	left: 1305px;
	top: 17.023193359375px;
	height: 21.751953125px;
}
.blank_blank .nav .login .Login {
	position: absolute;
	left: 26px;
	top: -1.891357421875px;
	width: 90%;
	height: 78.26052796983029%;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
}
.blank_blank .nav .login ._7887887426_googlegpnggooglelogowhitepng1 {
	position: absolute;
	left: 2px;
	top: 2.837158203125px;
	width: 22.5%;
	height: 82.6086468528329%;
	object-fit: cover;
	overflow: hidden;
}
.blank_blank .nav .StreetSavvy {
	position: absolute;
	left: 49px;
	top: 0px;
	width: 217px;
	height: 23.643310546875px;
	color: rgba(255,255,255,1.00);
	font-family: Calligraffitti;
	font-size: 42px;
	font-weight: 400;
	line-height: 65.912109375px;
}
.blank_blank .nav .Findaplace {
	position: absolute;
	left: 1125px;
	top: 11.348876953125px;
	width: 136px;
	height: 28.3720703125px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
}
.blank_blank .nav .About {
	position: absolute;
	left: 994px;
	top: 11.348876953125px;
	width: 67px;
	height: 28.3720703125px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
}
.blank_blank .nav .nav_1 {
	position: absolute;
	left: 0px;
	top: 52px;
	width: 1440px;
	height: 62px;
}
.blank_blank .nav .nav_1 .Navbar {
	position: absolute;
	left: 0px;
	top: 4px;
	width: 1440px;
	height: 58px;
	background: rgba(222,138,119,1.00);
}
.blank_blank .nav .nav_1 .login_1 {
	position: absolute;
	left: 1251px;
	top: 24px;
	height: 21.751953125px;
}
.blank_blank .nav .nav_1 .login_1 .Login_1 {
	position: absolute;
	left: 26px;
	top: -1.891357421875px;
	width: 90%;
	height: 78.26052796983029%;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
.blank_blank .nav .nav_1 .login_1 ._7887887426_googlegpnggooglelogowhitepng1_1 {
	position: absolute;
	left: 2px;
	top: 2.837158203125px;
	width: 22.5%;
	height: 82.6086468528329%;
	object-fit: cover;
	overflow: hidden;
}
.blank_blank .nav .nav_1 .StreetSavvy_1 {
	position: absolute;
	left: 99px;
	top: 0px;
	width: 335px;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Calligraffitti;
	font-size: 38px;
	font-weight: 400;
	line-height: 59.634765625px;
}
.blank_blank .nav .nav_1 .Findaplace_1 {
	position: absolute;
	left: 943px;
	top: 20.94580078125px;
	width: 113px;
	height: 23.643310546875px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
.blank_blank .nav .nav_1 .About_1 {
	position: absolute;
	left: 835px;
	top: 21px;
	width: 56px;
	height: 23.643310546875px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
.blank_blank .nav .nav_1 .Profile {
	position: absolute;
	left: 1124px;
	top: 20px;
	width: 59px;
	height: 23.643310546875px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}