
.findaplace_2_findaplace {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.findaplace_2_findaplace .Rectangle9 {
	position: absolute;
	left: -11px;
	top: 313px;
	width: 1440px;
	height: 204px;
	background: rgba(233,241,247,1.00);
}
.findaplace_2_findaplace .Vector {
	position: absolute;
	left: 0px;
	top: 266px;
	width: 1440px;
	height: 95px;
}
.findaplace_2_findaplace .Vector_1 {
	position: absolute;
	left: 0px;
	top: 511px;
	width: 1440px;
	height: 103px;
}
.findaplace_2_findaplace .footer {
	position: absolute;
	left: 0px;
	top: 1471px;
	width: 1440px;
	height: 118px;
	background: rgba(115,107,146,1.00);
}
.findaplace_2_findaplace .Copyright2023 {
	position: absolute;
	left: 562px;
	top: 1534px;
	width: 316px;
	height: 23px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 18px;
	font-weight: 500;
	line-height: 22.5px;
}
.findaplace_2_findaplace .Pickyourinterest {
	position: absolute;
	left: 625px;
	top: 672px;
	width: 291px;
	height: 53px;
	color: rgba(222,138,119,1.00);
	font-family: Rubik;
	font-size: 32px;
	font-weight: 500;
	line-height: 37.91999816894531px;
}
.findaplace_2_findaplace .RestaurantTableVectorsbyVecteezy {
	position: absolute;
	left: 334px;
	top: 1069px;
	width: 227px;
	height: 18px;
	color: rgba(0,0,0,1.00);
	font-family: Quicksand;
	font-size: 9px;
	font-weight: 300;
	line-height: 11.25px;
}
.findaplace_2_findaplace .ThemeParkVectorsbyVecteezy {
	position: absolute;
	left: 895px;
	top: 1077px;
	width: 227px;
	height: 18px;
	color: rgba(0,0,0,1.00);
	font-family: Quicksand;
	font-size: 9px;
	font-weight: 300;
	line-height: 11.25px;
}
.findaplace_2_findaplace .Whatwouldyouliketodotoday {
	position: absolute;
	left: 116px;
	top: 156px;
	width: 778px;
	height: 86px;
	color: rgba(115,107,146,1.00);
	font-family: Rubik;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.659996032714844px;
}
.findaplace_2_findaplace .Selectyourbudget {
	position: absolute;
	left: 610px;
	top: 361px;
	width: 356px;
	height: 50px;
	color: rgba(222,138,119,1.00);
	font-family: Rubik;
	font-size: 32px;
	font-weight: 500;
	line-height: 37.91999816894531px;
}
.findaplace_2_findaplace .Group1 {
	position: absolute;
	left: 916px;
	top: 1166px;
	width: 242px;
	height: 51px;
	border-radius: 11px;
}
.findaplace_2_findaplace .Group1 .FindaplaceHolder {
	position: absolute;
	left: 28px;
	top: 0px;
	width: 186px;
	height: 51px;
	background: rgba(223,181,107,1.00);
	border-radius: 11px;
}
.findaplace_2_findaplace .Group1 .Entertainment {
	position: absolute;
	left: 0px;
	top: 11px;
	width: 242px;
	height: 23px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 18px;
	font-weight: 400;
	line-height: 22.5px;
}
.findaplace_2_findaplace .Group1_1 {
	position: absolute;
	left: 334px;
	top: 1169px;
	width: 242px;
	height: 51px;
	border-radius: 11px;
}
.findaplace_2_findaplace .Group1_1 .FindaplaceHolder_1 {
	position: absolute;
	left: 28px;
	top: 0px;
	width: 186px;
	height: 51px;
	background: rgba(223,181,107,1.00);
	border-radius: 11px;
}
.findaplace_2_findaplace .Group1_1 .Food {
	position: absolute;
	left: 0px;
	top: 11px;
	width: 242px;
	height: 23px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 18px;
	font-weight: 400;
	line-height: 22.5px;
}
.findaplace_2_findaplace .PeopleEatingAtRestaurant2012 {
	position: absolute;
	left: 801px;
	top: 762px;
	width: 393px;
	height: 338px;
	object-fit: cover;
	overflow: hidden;
}
.findaplace_2_findaplace .PeopleEatingAtRestaurant2011 {
	position: absolute;
	left: 246px;
	top: 762px;
	width: 393px;
	height: 338px;
	object-fit: cover;
	overflow: hidden;
}
.findaplace_2_findaplace ._ {
	position: absolute;
	left: 550px;
	top: 444px;
	width: 24px;
	height: 26px;
	border-radius: 3px;
}
.findaplace_2_findaplace .__1 {
	position: absolute;
	left: 580px;
	top: 437px;
	width: 418px;
	height: 40px;
	color: rgba(115,107,146,1.00);
	font-family: Rubik;
	font-size: 20px;
	font-weight: 400;
	line-height: 40px;
}
.findaplace_2_findaplace .__2 {
	position: absolute;
	left: 789px;
	top: 444px;
	width: 24px;
	height: 26px;
	background: rgba(217,217,217,0.00);
	border-radius: 3px;
	border: 3px solid rgba(115.00000074505806,107.00000122189522,146.00000649690628,1);
	box-sizing: border-box;
}
.findaplace_2_findaplace .__3 {
	position: absolute;
	left: 673px;
	top: 444px;
	width: 24px;
	height: 26px;
	background: rgba(217,217,217,0.00);
	border-radius: 3px;
	border: 3px solid rgba(115.00000074505806,107.00000122189522,146.00000649690628,1);
	box-sizing: border-box;
}
.findaplace_2_findaplace .nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1470px;
	height: 56.03369140625px;
}
.findaplace_2_findaplace .nav .Navbar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1470px;
	height: 56.03369140625px;
	background: rgba(222,138,119,1.00);
}
.findaplace_2_findaplace .nav .StreetSavvy {
	position: absolute;
	left: 118.416748046875px;
	top: 0.96630859375px;
	width: 218.458251953125px;
	height: 51.20361328125px;
	color: rgba(255,255,255,1.00);
	font-family: Calligraffitti;
	font-size: 38px;
	font-weight: 400;
	line-height: 59.634765625px;
}
.findaplace_2_findaplace .nav .Findaplace {
	position: absolute;
	left: 962.645751953125px;
	top: 16.37109375px;
	width: 115.354248046875px;
	height: 22.841796875px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
.findaplace_2_findaplace .nav .About {
	position: absolute;
	left: 852.39599609375px;
	top: 16.423828125px;
	width: 57.166748046875px;
	height: 22.841796875px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
.findaplace_2_findaplace .nav .Saved {
	position: absolute;
	left: 1147.41650390625px;
	top: 15.45751953125px;
	width: 60.229248046875px;
	height: 22.841796875px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
.findaplace_2_findaplace .nav .login {
	position: absolute;
	left: 1268px;
	top: 17px;
	width: 93px;
	height: 23px;
}
.findaplace_2_findaplace .nav .login ._7887887426_googlegpnggooglelogowhitepng1 {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 19.35483870967742%;
	height: 78.125%;
	object-fit: cover;
	overflow: hidden;
}
.findaplace_2_findaplace .nav .login .Login {
	position: absolute;
	left: 22px;
	top: 0px;
	width: 76.34408602150538%;
	height: 100%;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
.findaplace_2_findaplace .__4 {
	position: absolute;
	left: 916px;
	top: 444px;
	width: 24px;
	height: 26px;
	background: rgba(115,107,146,1.00);
	border-radius: 3px;
	border: 3px solid rgba(115.00000074505806,107.00000122189522,146.00000649690628,1);
	box-sizing: border-box;
}