
.home_home {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.home_home .Rectangle7 {
	position: absolute;
	left: 8.82px;
	top: 2637.18px;
	width: 1421px;
	height: 225.4px;
	background: rgba(233,241,247,1.00);
}
.home_home .Rectangle4 {
	position: absolute;
	left: 0px;
	top: 1177.96px;
	width: 1421.98px;
	height: 340.06px;
	background: rgba(233,241,247,1.00);
}
.home_home .Group3 {
	position: absolute;
	left: 82.32px;
	top: 1406.3px;
	width: 237.16px;
	height: 49.98px;
	border-radius: 10.78px;
}
.home_home .Group3 .FindaplaceHolder {
	position: absolute;
	left: 27.439999999999998px;
	top: 0px;
	width: 182.28px;
	height: 49.98px;
	background: rgba(223,181,107,1.00);
	border-radius: 10.78px;
}
.home_home .Group3 .Findaplace {
	position: absolute;
	left: 0px;
	top: 10.78px;
	width: 237.16px;
	height: 22.54px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 17.64px;
	font-weight: 400;
	line-height: 22.05px;
}
.home_home .footer {
	position: absolute;
	left: 0px;
	top: 3059.56px;
	width: 1447.46px;
	height: 129.35999999999999px;
	background: rgba(115,107,146,1.00);
}
.home_home .about {
	position: absolute;
	left: 107.8px;
	top: 319.48px;
	width: 1176.98px;
	height: 120.33370742797851px;
	border-radius: 10.78px;
}
.home_home .about .Rectangle2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 626.6070593261719px;
	height: 120.33370742797851px;
	background: rgba(255,255,255,1.00);
	border-radius: 10.78px;
}
.home_home .about .StreetSavvygivesyourecommendationsbasedonyourbudgetandinterestswhetheritbeforfoodshoppingorentertainmentNowyouwillneverhavetroublepickingaspotorworryaboutgoingoveryourbudget {
	position: absolute;
	left: 17.663985595703124px;
	top: 11.193830032348632px;
	width: 1159.3159545898438px;
	height: 41.976878509521484px;
	color: rgba(0,0,0,1.00);
	font-family: Quicksand;
	font-size: 17.64px;
	font-weight: 300;
	line-height: 22.05px;
}
.home_home .canada {
	position: absolute;
	left: 5.88px;
	top: 425.32px;
	width: 1411.2px;
	height: 476.28px;
	object-fit: cover;
	overflow: hidden;
}
.home_home .NotsurewheretogoonyournextoutingSpendingtoomuchmoneywhengoingoutWegotyoucovered {
	position: absolute;
	left: 119.56px;
	top: 155.82px;
	width: 1132.8799999999999px;
	height: 256.76px;
	color: rgba(115,107,146,1.00);
	font-family: Rubik;
	font-size: 35.28px;
	font-weight: 500;
	line-height: 41.806796112060546px;
}
.home_home .Toprestaurantrecommendations {
	position: absolute;
	left: 113.67999999999999px;
	top: 1193.6399999999999px;
	width: 889.84px;
	height: 43.12px;
	color: rgba(115,107,146,1.00);
	font-family: Rubik;
	font-size: 35.28px;
	font-weight: 500;
	line-height: 41.806796112060546px;
}
.home_home .Funplacestovisit {
	position: absolute;
	left: 676.1999999999999px;
	top: 1862px;
	width: 547.8199999999999px;
	height: 43.12px;
	color: rgba(115,107,146,1.00);
	font-family: Rubik;
	font-size: 35.28px;
	font-weight: 500;
	line-height: 41.806796112060546px;
}
.home_home .Group1 {
	position: absolute;
	left: 92.12px;
	top: 414.54px;
	width: 237.16px;
	height: 49.98px;
	border-radius: 10.78px;
}
.home_home .Group1 .FindaplaceHolder_1 {
	position: absolute;
	left: 27.439999999999998px;
	top: 0px;
	width: 182.28px;
	height: 49.98px;
	background: rgba(223,181,107,1.00);
	border-radius: 10.78px;
}
.home_home .Group1 .Findaplace_1 {
	position: absolute;
	left: 0px;
	top: 10.78px;
	width: 237.16px;
	height: 22.54px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 17.64px;
	font-weight: 400;
	line-height: 22.05px;
}
.home_home .Copyright2023 {
	position: absolute;
	left: 556.64px;
	top: 3127.18px;
	width: 309.68px;
	height: 22.54px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 17.64px;
	font-weight: 500;
	line-height: 22.05px;
}
.home_home .About {
	position: absolute;
	left: 878.0799999999999px;
	top: 16.66px;
	width: 65.66px;
	height: 29.4px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 23.52px;
	font-weight: 400;
	line-height: 29.4px;
}
.home_home .InputyourbudgetandreceivepersonalizedrestaurantrecommendationsinTorontofromourextensivedatabaseofover700restuarantsOuralgorithmlearnswhatrestaurantsandcuisinesyoulikeandrecommendssimilarplaces {
	position: absolute;
	left: 113.67999999999999px;
	top: 1278.8999999999999px;
	width: 687.96px;
	height: 177.38px;
	color: rgba(0,0,0,1.00);
	font-family: Quicksand;
	font-size: 17.64px;
	font-weight: 300;
	line-height: 22.05px;
}
.home_home .Rectangle5 {
	position: absolute;
	left: 896.6999999999999px;
	top: 1266.16px;
	width: 424.34px;
	height: 400.82px;
	object-fit: cover;
	overflow: hidden;
}
.home_home .Rectangle6 {
	position: absolute;
	left: 138.18px;
	top: 1862px;
	width: 385.14px;
	height: 230.29999999999998px;
	object-fit: cover;
	overflow: hidden;
}
.home_home .BlobShape {
	position: absolute;
	left: 1041.7330615234375px;
	top: 2007.04px;
	width: 180.454462890625px;
	height: 175.89277343749998px;
}
.home_home .BlobShape_1 {
	position: absolute;
	left: 1145.7696557617187px;
	top: 2079.4126171875px;
	width: 180.85880859374998px;
	height: 189.14107666015624px;
}
.home_home .BlobShape_2 {
	position: absolute;
	left: 741.86px;
	top: 2191.2799999999997px;
	width: 177.13631591796874px;
	height: 185.42671875px;
}
.home_home .BlobShape_3 {
	position: absolute;
	left: 1042.0911108398436px;
	top: 2239.52203125px;
	width: 167.86387939453124px;
	height: 173.4006640625px;
}
.home_home .Group2 {
	position: absolute;
	left: 592.9px;
	top: 2768.5px;
	width: 237.16px;
	height: 49.98px;
	border-radius: 10.78px;
}
.home_home .Group2 .FindaplaceHolder_2 {
	position: absolute;
	left: 27.439999999999998px;
	top: 0px;
	width: 182.28px;
	height: 49.98px;
	background: rgba(223,181,107,1.00);
	border-radius: 10.78px;
}
.home_home .Group2 .Findaplace_2 {
	position: absolute;
	left: 0px;
	top: 10.78px;
	width: 237.16px;
	height: 22.54px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 17.64px;
	font-weight: 400;
	line-height: 22.05px;
}
.home_home .Group4 {
	position: absolute;
	left: 650.72px;
	top: 2092.3px;
	width: 237.16px;
	height: 49.98px;
	border-radius: 10.78px;
}
.home_home .Group4 .FindaplaceHolder_3 {
	position: absolute;
	left: 27.439999999999998px;
	top: 0px;
	width: 182.28px;
	height: 49.98px;
	background: rgba(223,181,107,1.00);
	border-radius: 10.78px;
}
.home_home .Group4 .Findaplace_3 {
	position: absolute;
	left: 0px;
	top: 10.78px;
	width: 237.16px;
	height: 22.54px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 17.64px;
	font-weight: 400;
	line-height: 22.05px;
}
.home_home .Getstartedimmediately {
	position: absolute;
	left: 527.24px;
	top: 2676.38px;
	width: 889.84px;
	height: 43.12px;
	color: rgba(115,107,146,1.00);
	font-family: Rubik;
	font-size: 35.28px;
	font-weight: 500;
	line-height: 41.806796112060546px;
}
.home_home .InputyourbudgetandreceivepersonalizedrecommendationsonplacestovisitandthingstodoalloverTorontoOuralgorithmlearnsyourpreferencesandgivesrecommendationstailoredtoyou {
	position: absolute;
	left: 676.1999999999999px;
	top: 1951.18px;
	width: 517.4399999999999px;
	height: 108.78px;
	color: rgba(0,0,0,1.00);
	font-family: Quicksand;
	font-size: 17.64px;
	font-weight: 300;
	line-height: 22.05px;
}
.home_home .Vector {
	position: absolute;
	left: 5.88px;
	top: 1072.12px;
	width: 1411.2px;
	height: 123.48px;
}
.home_home .Vector_1 {
	position: absolute;
	left: 5.88px;
	top: 1459.22px;
	width: 887.88px;
	height: 123.48px;
}
.home_home .Vector_2 {
	position: absolute;
	left: 5.88px;
	top: 2532.32px;
	width: 1411.2px;
	height: 104.86px;
}
.home_home .Vector_3 {
	position: absolute;
	left: 8.82px;
	top: 2842.98px;
	width: 1405.32px;
	height: 119.56px;
}
.home_home .nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440.6px;
	height: 54.913226928710934px;
}
.home_home .nav .Navbar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440.6px;
	height: 54.913226928710934px;
	background: rgba(222,138,119,1.00);
}
.home_home .nav .StreetSavvy {
	position: absolute;
	left: 116.04835327148437px;
	top: 0.9467730712890625px;
	width: 214.08914672851563px;
	height: 50.179331665039065px;
	color: rgba(255,255,255,1.00);
	font-family: Calligraffitti;
	font-size: 37.24px;
	font-weight: 400;
	line-height: 58.4420703125px;
}
.home_home .nav .Findaplace_4 {
	position: absolute;
	left: 943.3928967285156px;
	top: 16.043851318359376px;
	width: 113.04710327148437px;
	height: 22.38511047363281px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 19.6px;
	font-weight: 400;
	line-height: 24.5px;
}
.home_home .nav .About_1 {
	position: absolute;
	left: 835.3479565429687px;
	top: 16.095261840820314px;
	width: 56.02332336425781px;
	height: 22.38511047363281px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 19.6px;
	font-weight: 400;
	line-height: 24.5px;
}
.home_home .nav .Saved {
	position: absolute;
	left: 1124.4682934570312px;
	top: 15.148458862304688px;
	width: 59.024603271484374px;
	height: 22.38511047363281px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 19.6px;
	font-weight: 400;
	line-height: 24.5px;
}
.home_home .nav .login {
	position: absolute;
	left: 1242.6399999999999px;
	top: 14.7px;
	width: 91.14px;
	height: 22.54px;
}
.home_home .nav .login ._7887887426_googlegpnggooglelogowhitepng1 {
	position: absolute;
	left: 0px;
	top: 4.9px;
	width: 19.35483870967742%;
	height: 78.12606148097827%;
	object-fit: cover;
	overflow: hidden;
}
.home_home .nav .login .Login {
	position: absolute;
	left: 21.56px;
	top: 0px;
	width: 76.34408602150538%;
	height: 100%;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 19.6px;
	font-weight: 400;
	line-height: 24.5px;
}