
.saved_saved {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.saved_saved .footer {
	position: absolute;
	left: 0px;
	top: 1528px;
	width: 1440px;
	height: 118px;
	background: rgba(115,107,146,1.00);
}
.saved_saved .Copyright2023 {
	position: absolute;
	left: 562px;
	top: 1591px;
	width: 316px;
	height: 23px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 18px;
	font-weight: 500;
	line-height: 22.5px;
}
.saved_saved .Profile {
	position: absolute;
	left: 1116px;
	top: 16px;
	width: 87px;
	height: 43px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
.saved_saved .Saved {
	position: absolute;
	left: 115px;
	top: 147px;
	width: 438px;
	height: 60px;
	color: rgba(115,107,146,1.00);
	font-family: Rubik;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.659996032714844px;
}
.saved_saved .Rectangle9 {
	position: absolute;
	left: 104px;
	top: 241px;
	width: 1200px;
	height: 333px;
	background: rgba(255,255,255,1.00);
	border-radius: 5px;
	border: 1px solid rgba(226.0000017285347,225.00000178813934,229.00000154972076,1);
	box-sizing: border-box;
}
.saved_saved .NameofPlace {
	position: absolute;
	left: -107px;
	top: 251px;
	width: 1356px;
	height: 13px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(115,107,146,1.00);
	font-family: Rubik;
	font-size: 20px;
	font-weight: 500;
	line-height: 23.69999885559082px;
}
.saved_saved .Group8 {
	position: absolute;
	left: 494px;
	top: 287px;
	width: 432px;
	height: 121px;
}
.saved_saved .Group8 .Group5 {
	position: absolute;
	left: 10.212890625px;
	top: 31.646156311035156px;
	width: 17.787109375px;
	height: 21.353843688964844px;
}
.saved_saved .Group8 .Group5 .Ellipse1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 17.787109375px;
	height: 21.353843688964844px;
}
.saved_saved .Group8 .Group5 .Ellipse2 {
	position: absolute;
	left: 4.4462890625px;
	top: 2.755361557006836px;
	width: 9.486328125px;
	height: 8.593620300292969px;
	background: rgba(217,217,217,0.00);
	border-radius: 50%;
	border: 2px solid rgba(115.00000074505806,107.00000122189522,146.00000649690628,1);
	box-sizing: border-box;
}
.saved_saved .Group8 .Star1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 38px;
	height: 30px;
	border-radius: 3px;
	border: 2px solid rgba(115.00000074505806,107.00000122189522,146.00000649690628,1);
	box-sizing: border-box;
}
.saved_saved .Group8 ._123StreetNameONCanada {
	position: absolute;
	left: 37.787109375px;
	top: 34.4384651184082px;
	width: 389.1064453125px;
	height: 32.57692337036133px;
	color: rgba(222,138,119,1.00);
	font-family: Rubik;
	font-size: 16px;
	font-weight: 500;
	line-height: 18.959999084472656px;
}
.saved_saved .Group8 ._1234567890 {
	position: absolute;
	left: 39.82958984375px;
	top: 62.36152648925781px;
	width: 389.1064453125px;
	height: 32.57692337036133px;
	color: rgba(222,138,119,1.00);
	font-family: Rubik;
	font-size: 16px;
	font-weight: 500;
	line-height: 18.959999084472656px;
}
.saved_saved .Group8 .wwwcompanywebsitecom {
	position: absolute;
	left: 42.89404296875px;
	top: 88.4230728149414px;
	width: 389.1064453125px;
	height: 32.576927185058594px;
	color: rgba(222,138,119,1.00);
	font-family: Rubik;
	font-size: 16px;
	font-weight: 500;
	line-height: 18.959999084472656px;
}
.saved_saved .Group8 ._5 {
	position: absolute;
	left: 39.82958984375px;
	top: 7.446159362792969px;
	width: 295.14892578125px;
	height: 31.646154403686523px;
	color: rgba(222,138,119,1.00);
	font-family: Rubik;
	font-size: 16px;
	font-weight: 500;
	line-height: 18.959999084472656px;
}
.saved_saved .Group8 .Group6 {
	position: absolute;
	left: 9.19189453125px;
	top: 58.63844299316406px;
	width: 21.8076171875px;
	height: 20.361557006835938px;
}
.saved_saved .Group8 .Group6 .Line1 {
	position: absolute;
	left: 3.35498046875px;
	top: 0px;
	width: 5.591796875px;
	height: 20.361557006835938px;
	border: 2px solid rgba(115.00000074505806,107.00000122189522,146.00000649690628,1);
}
.saved_saved .Group8 .Group6 .Line2 {
	position: absolute;
	left: 10.6240234375px;
	top: 0px;
	width: 5.591796875px;
	height: 20.361557006835938px;
	border: 2px solid rgba(115.00000074505806,107.00000122189522,146.00000649690628,1);
}
.saved_saved .Group8 .Group6 .Line4 {
	position: absolute;
	left: 1.11767578125px;
	top: 6.787153244018555px;
	width: 20.68994140625px;
	height: 0px;
	border: 2px solid rgba(115.00000074505806,107.00000122189522,146.00000649690628,1);
}
.saved_saved .Group8 .Group6 .Line5 {
	position: absolute;
	left: 0px;
	top: 13.0087890625px;
	width: 20.68994140625px;
	height: 0px;
	border: 2px solid rgba(115.00000074505806,107.00000122189522,146.00000649690628,1);
}
.saved_saved .Group8 .Group7 {
	position: absolute;
	left: 9.19189453125px;
	top: 84.7000961303711px;
	width: 18.80859375px;
	height: 24.2999267578125px;
}
.saved_saved .Group8 .Group7 .Line5_1 {
	position: absolute;
	left: 0.935546875px;
	top: 0px;
	width: 16.9814453125px;
	height: 10.813972473144531px;
}
.saved_saved .Group8 .Group7 .Line7 {
	position: absolute;
	left: 0.787109375px;
	top: 9.156185150146484px;
	width: 6.55419921875px;
	height: 4.543060302734375px;
	border: 2px solid rgba(115.00000074505806,107.00000122189522,146.00000649690628,1);
}
.saved_saved .Group8 .Group7 .Line9 {
	position: absolute;
	left: 0.78662109375px;
	top: 13.699371337890625px;
	width: 6.55419921875px;
	height: 7.571868896484375px;
	border: 2px solid rgba(115.00000074505806,107.00000122189522,146.00000649690628,1);
}
.saved_saved .Group8 .Group7 .Line11 {
	position: absolute;
	left: 0px;
	top: 20.14759063720703px;
	width: 4.10595703125px;
	height: 2.9066200256347656px;
}
.saved_saved .Group8 .Group7 .Line10 {
	position: absolute;
	left: 4.06396484375px;
	top: 16.728057861328125px;
	width: 6.55419921875px;
	height: 7.571868896484375px;
	border: 2px solid rgba(115.00000074505806,107.00000122189522,146.00000649690628,1);
}
.saved_saved .Group8 .Group7 .Line8 {
	position: absolute;
	left: 9.810546875px;
	top: 16.41045379638672px;
	width: 4.5830078125px;
	height: 2.2041549682617188px;
}
.saved_saved .Group8 .Group7 .Line6 {
	position: absolute;
	left: 13.576171875px;
	top: 1.0528411865234375px;
	width: 5.232421875px;
	height: 17.07366180419922px;
}
.saved_saved .Rectangle10 {
	position: absolute;
	left: 104px;
	top: 240px;
	width: 372px;
	height: 334px;
	background: rgba(217,217,217,1.00);
	border-radius: 5px;
}
.saved_saved .ThedescriptiongoeshereLoremipsumdolorsitametconsecteturadipiscingelitseddoeiusmodtemporincididuntutlaboreetdoloremagnaaliquaUtenimadminimveniamquisnostrudexercitationullamcolaborisnisiutaliquipexeacommodoconsequatDuisauteiruredolorinreprehenderitinvoluptatevelitessecillumdoloreeufugiatnullapariaturExcepteursintoccaecatcupidatatnonproidentsuntinculpaquiofficiadeseruntmollitanimidestlaborum {
	position: absolute;
	left: 505px;
	top: 420px;
	width: 777px;
	height: 59px;
	color: rgba(0,0,0,1.00);
	font-family: Quicksand;
	font-size: 14px;
	font-weight: 300;
	line-height: 17.5px;
}
.saved_saved .nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1470px;
	height: 56.033905029296875px;
}
.saved_saved .nav .Navbar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1470px;
	height: 56.033905029296875px;
	background: rgba(222,138,119,1.00);
}
.saved_saved .nav .StreetSavvy {
	position: absolute;
	left: 118.416748046875px;
	top: 0.966094970703125px;
	width: 218.458251953125px;
	height: 51.203399658203125px;
	color: rgba(255,255,255,1.00);
	font-family: Calligraffitti;
	font-size: 38px;
	font-weight: 400;
	line-height: 59.634765625px;
}
.saved_saved .nav .Findaplace {
	position: absolute;
	left: 962.64599609375px;
	top: 16.37127685546875px;
	width: 115.35400390625px;
	height: 22.841949462890625px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
.saved_saved .nav .About {
	position: absolute;
	left: 852.39599609375px;
	top: 16.423736572265625px;
	width: 57.16650390625px;
	height: 22.841949462890625px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
.saved_saved .nav .Saved_1 {
	position: absolute;
	left: 1147.41650390625px;
	top: 15.457611083984375px;
	width: 60.22900390625px;
	height: 22.841949462890625px;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
.saved_saved .nav .login {
	position: absolute;
	left: 1268px;
	top: 17px;
	width: 93px;
	height: 23px;
}
.saved_saved .nav .login ._7887887426_googlegpnggooglelogowhitepng1 {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 19.35483870967742%;
	height: 78.12606148097827%;
	object-fit: cover;
	overflow: hidden;
}
.saved_saved .nav .login .Login {
	position: absolute;
	left: 22px;
	top: 0px;
	width: 76.34408602150538%;
	height: 100%;
	color: rgba(255,255,255,1.00);
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}